/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Body Styling */
body {
    margin: 0;
    background-image: url('SearchBack.JPEG');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  }

/* form styling */
.form-container {
    position: relative;
    top: 60%;
    left: 34.5%;
    
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input,
.form-container .form-group textarea,
.form-container .form-group select {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group input[type="file"] {
    padding: 8px 16px;
}

.form-container .form-group textarea {
    resize: none;
    height: 96px;
}

.form-container .form-group input::placeholder,
.form-container .form-group textarea::placeholder,
.form-container .form-group select::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus,
.form-container .form-group textarea:focus,
.form-container .form-group select:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}
.form-submit-btn a {
  text-decoration: none;
  font-family: inherit;
    color: #717171;
  height: 100%;
  width: 100%;
  font-weight: 600;
}

.form-container .form-submit-btn:hover, .form-submit-btn a:hover {
    background-color: #fff;
    border-color: #fff;
}




 /* Navigation Styling */
 nav {
    background: transparent;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  label.logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
  }
  
  nav ul li:hover {
    transform: scale(1.1);
  }
  
  a.active, a:hover {
    background-color: black;
    transition: .5s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  /* Responsive Navigation */
  @media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
  }
  /* Footer Styling */
  footer {
    position: relative;
    margin-top: 23%;
    background: transparent;
    color: white;
    width: 100%;
    height: 200px;
   padding-top: 5px;
    justify-content: baseline;
    position: relative;
    bottom: 0%;
    left: 0;
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.0rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .footer-col {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-col h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 7px;
  }
  
  .footer-col .links {
    list-style: none;
    padding: 0;
  }
  
  .footer-col .links li {
    margin-bottom: 7px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  
  .footer-col input::placeholder {
    color: #ccc;
  }
  
  .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 5px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  
  .footer-col form button:hover {
    background: #cecccc;
  }
  
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  
  .footer-col .icons i {
    color: #afb6c7;
  }
  
  .footer-col .icons i:hover {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .footer-row {
        padding: 10px 5px;
        gap: 1rem;
    }
    .footer-col form {
        display: block;
    }
    .footer-col form :where(input, button) {
        width: 100%;
    }
    .footer-col form button {
        margin: 7px 0 0 0;
    }
}